* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
   
}

.big{
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
}

h1, nav a, .btn {
    /* font-family: 'Cinzel Decorative', cursive; */
    font-family: 'Playfair Display', serif;
}

nav{
    width: 100%;
    height: auto;
    background:#d3dbdf00;
    position: absolute;
    top: 0;
    left: 0;
  z-index: 99;
  animation: fadeInDown ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.innerNav{
    width: 70%;
    margin: 0 auto;
    display: grid;
    padding: 10px 0 20px 0;
    grid-template-columns: 20% 80%;
}

#logo, .links{
    width: 100%;

}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.links li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    text-decoration: none;
    color:  white;
    font-size: 1.3rem;
    transition: 0.5s;
}

.links a:hover{
    text-decoration: overline;
    color: #FFFEF1;
}

.btn{
    background:#FFFEF1;
    color: #0E6C94 !important;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none !important;
    transition: 0.5s;
}

.btn:hover{
    background: #0E6C94;
    color: #ffffff !important;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.541);
}
main{
    width: 100vw;
    height: 80vh;
    
    overflow: hidden;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInAnimation ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }

  .viewport-header {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 0 50px 0; */
    /* padding-top: 100px; */
     animation: fadeInLeft ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    background:linear-gradient(to right,#0e6c94c9, rgba(0, 0, 0, 0));
  }

  @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-1000px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 

 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-1000px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 



  .viewport-header h1{

      font-size: 6rem;
     
      color: #FFFEF1;
      padding: 0;
      /* -webkit-text-stroke-width:1.2px;
  -webkit-text-stroke-color: #FFFEF1; */
      margin: 0;
      text-shadow: 0 20px 30px rgba(0, 0, 0, 0.527);
  }

  .viewport-header p{
    padding: 0 0 40px 0;
    margin: 0 auto;
    width: 70%;
    /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0E6C94; */
    color:#FFFEF1;
    text-shadow: 0 20px 30px rgba(0, 0, 0, 0.795);
    font-size: 2.7rem;
    /* font-weight: bold; */
  }

  .viewport-header .btn{
      font-size: 2.4rem;

  }



  .content{
    background: linear-gradient(#0E6C94, #0e6c9400);
  }

  .content2{
    background: linear-gradient(#0e6c9400, #0E6C94);
  }

.cards{
    padding:100px 0;
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    
}

.card {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card h2{
    font-size: 2.5rem;
    color: #FFFEF1;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

.card p{
    font-size: 1.2rem;
    margin: 10px 0 30px 0;
    color: #3b3b3b;
    line-height: 2rem;
    font-weight: bold;
}

.card .btn {
    font-size: 1.2rem;
}

.bubbles{
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

.bubbleTop{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    text-align: center;
    
}

.bubbleMid{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
    grid-gap: 1em;
    margin: 50px auto;
}

.bubbleMid2{
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
}

.bubbleBottom{
    margin: 50px auto;
        width: 50%; 
}
.bubble{
    background: #FFFEF1;
    padding: 10px 30px;
    border-radius: 50px;
    width: auto;
    font-size: 2rem;
    margin: 0 auto;
    color: #0E6C94;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.61);
    cursor: pointer;
    transition: 0.5s;
}

.bubble:hover{
    background:  #0E6C94;
    color: #FFFEF1;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.466);
}
#whatWeTreat {
    text-align: center;
}

#whatWeTreat h2{
    font-size: 5rem;
    color: #FFFEF1;
}

#whatWeTreat p{
    color: #696969;
}

#covered{
    width: 100%;
  height:100vh;
    text-align: center;
    background: url(/images/backgroundSwoop.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#covered div{
    width: 60%;
    margin: 0 auto;
}

#covered h2{
    font-size: 3rem;
    color: #0E6C94 ;
    padding: 0;
    margin: 0;
}

#covered p{
    font-size: 2em;
    line-height: 3.5rem;
    color: #696969;
    padding: 0;
    margin: 10px 0 30px 0;
}



#covered .btn{
    background: #0E6C94 !important;
    color: white !important;
    font-size: 1.4rem;
}

#testimonials, #locations , #ready{
    text-align: center;
  
}

#testimonials, #ready{
    text-align: center;
    min-height: 50vh;
}

#testimonials h3, #locations  h3{
    font-size: 3rem;
    color: #0E6C94;
}

#ready h3{
    font-size: 4rem;
    color: #FFFEF1;
}

#testimonials .test {
    padding: 20px 0 20px 0;
}

.ready img{
    width: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
 font-size: .8rem;
    color: rgb(201, 43, 43);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    top: -30px;
  left:10%;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .noBorder{
      border:none;
      width: 40%;
      margin: 0 auto;
      display: block;
      padding: 20px;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background: linear-gradient(45deg, #FFFEF1, #ffffff);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px 20px 40px 20px;
    border: 1px solid #888;
    border-radius: 0.3rem;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #theTitle{
      color: #0E6C94;
      font-size: 2.5rem;
      font-family: 'Playfair Display', serif;
  }

  #theBody {
      font-size: 1.4rem;
      width: 70%;
      margin: 0 auto;
      color: #5e5959;
      padding-bottom: 40px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0E6C94;
    border-bottom: 2px solid white;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .sticky a {
      font-size: 1.4rem;
     
  }

  .sticky a:hover{

      color: #b9b9b9;
  }

  .sticky img {
      width: 85px;
  }

  .sticky .innerNav{
      padding: 10px 0;
  }

  .lrg{
      width: 100% !important;
      font-size: 2rem;
      border: 1px solid #0E6C94;
  }


  #backToTopBtn{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 10px;/* Some padding */
    border-radius: 100%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: 'Cinzel Decorative', cursive;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.596);
    border: 5px outset rgb(184, 1, 1);
    transition: 0.5s;
  }
  
  #backToTopBtn:hover {
      box-shadow: none;
    background-color: rgb(255, 255, 255); 
    color: red;
  }

  